.container-background-image {
    background-image: url('../../images/baker/baking_cookies.jpg'); /* Replace with your image path */
    background-size: cover;  /* This ensures your image covers the entire div */
    background-repeat: no-repeat; /* This stops the image from repeating */
    background-position: center; /* This centers your image in the div */
}

#nav > ul > li > a {
    color: #ed786a;
}
